In [2]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")

In [3]:
pd.read_sql_query("Select  distinct * FROM AllMatches  where tournament like '%davis%'--where date like '2022-09%' and surface like --and loser like '%kre%'",con=devengine)

,Date,Sex,Tournament,Player_1,Player_2,Player_1_Odds,Player_2_Odds,Surface
0,2021-06-22 00:00:00.000000,Mens,Davis Cup165,Boris Aguma,Brasny Ntomosso,1.06,7.67,Various surfaces
1,2021-06-22 00:00:00.000000,Mens,Davis Cup165,Eliakim Coulibaly,Blaise Ngwohoh Nkwenti,1.03,8.60,Various surfaces
2,2021-06-22 00:00:00.000000,Mens,Davis Cup165,John Jadoun Nicolas,Lyold Obiang Ondo,1.28,3.50,Various surfaces
3,2021-06-22 00:00:00.000000,Mens,Davis Cup165,Alexander Cozbinov,Eric Cervos Noguer,1.01,14.68,Various surfaces
4,2021-06-22 00:00:00.000000,Mens,Davis Cup165,Gorazd Srbljak,Fresk Sylhasi,1.00,14.27,Various surfaces
...,...,...,...,...,...,...,...,...
470,2022-09-15,Mens,Davis Cup249,Roberto Bautista Agut,Miomir Kecmanovic,1.49,2.56,Various surfaces
471,2022-09-15,Mens,Davis Cup249,Tommy Paul,Daniel Evans,1.86,1.88,Various surfaces
472,2022-09-15,Mens,Davis Cup249,Matteo Berrettini,Borna Coric,1.55,2.42,Various surfaces
473,2022-09-15,Mens,Davis Cup249,Adrian Mannarino,Oscar Otte,1.54,2.43,Various surfaces
474,2022-09-15,Mens,Davis Cup249,Albert Ramos Vinolas,Laslo Djere,2.13,1.70,Various surfaces

In [12]:
data.to_excel('elo.xlsx',index=False)

In [307]:
pd.read_sql_query(
        "Select * FROM Predictions_Past_two_four_odds_rounded where date < '2022-08-21' and records >= 1 --and records <= 3",        con=devengine).to_clipboard(index=False)

In [479]:
pd.read_sql_query(
        "Select * FROM Predictions_Past_two_four_odds_rounded where date like '2022-08-19' --and records >= 1 and records <= 3",        con=devengine)

Empty DataFrame
Columns: [Date, Selection, Odds, Opponent, Winner, records]
Index: []

In [10]:
pd.read_sql_query(
        "Select * FROM Predictions_Past_two_four_odds_rounded_opp where date < '2022-08-25' and records>1 --and Elo_Dog_Odds >= 2 and Elo_Dog_Odds <=2.5 --and records >= 40 --and records <= 3",  
              con=devengine).to_clipboard(index=False)

In [13]:
pd.read_sql_query(
        "Select * FROM Predictions_Past_two_four_odds_rounded_opp where date like '2022-08-25' and records>1 --and Elo_Dog_Odds >= 2 and Elo_Dog_Odds <=2.5--and records >= 40 --and records <= 3",        con=devengine)

,Date,Selection,Odds,Elo_Dog_Odds,Opponent,Winner,records
0,2022-08-25,Jasmine Paolini,2.3,1.5,Rebecca Marino,Rebecca Marino,4

In [2]:
def drop_table_data(engine, table):
    devengine = create_engine(engine)
    connection = devengine.connect()
    connection.execute("Delete from   {} where date like '2022-09-%'".format(table))


database = "sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db"
db_table = "AllMatches"
drop_table_data(database, db_table)

In [367]:
month_ago='2022-07-22'
tomorrow='2022-08-23'
dataset = pd.read_sql_query(
    "Select Winner, Elo_Fav,Elo_Fav_Odds, Elo_Dog_Odds, Elo_Winner, Elo_Loser FROM Elo_AllMatches where  date < '{}' and WinnerTotal > 50 and LoserTotal > 50 and Elo_Fav_Odds < 2.1".format(
        month_ago
    ),
    con=devengine,
)

dataset["Elo_Fav_Odds"] = (dataset["Elo_Fav_Odds"] / 0.10).apply(np.floor).astype(
    float
) * 0.10
dataset["Elo_Dog_Odds"] = (dataset["Elo_Dog_Odds"] / 0.10).apply(np.floor).astype(
    float
) * 0.10

prediction = pd.read_sql_query(
    "Select  Winner,Loser,Elo_Fav, Elo_Fav_Odds ,Elo_Dog_Odds, Elo_Winner, Elo_Loser FROM Elo_AllMatches where  date > '{}' and date < '{}' and WinnerTotal > 50 and LoserTotal > 50 and Elo_Fav_Odds < 2.1".format(
        month_ago, tomorrow
    ),
    con=devengine,
)

prediction["Elo_Fav_Odds"] = (prediction["Elo_Fav_Odds"] / 0.10).apply(
    np.floor
).astype(float) * 0.10
prediction["Elo_Dog_Odds"] = (prediction["Elo_Dog_Odds"] / 0.10).apply(
    np.floor
).astype(float) * 0.10

prediction1 = pd.read_sql_query(
    "Select Date,Winner,Loser,Elo_Fav, Elo_Fav_Odds, Elo_Dog_Odds, Elo_Winner, Elo_Loser  FROM Elo_AllMatches where  date > '{}' and date < '{}' and WinnerTotal > 50 and LoserTotal > 50 and Elo_Fav_Odds < 2.1".format(
        month_ago, tomorrow
    ),
    con=devengine,
)

prediction1["Elo_Fav_Odds"] = (prediction1["Elo_Fav_Odds"] / 0.10).apply(
    np.floor
).astype(float) * 0.10
prediction1["Elo_Dog_Odds"] = (prediction1["Elo_Dog_Odds"] / 0.10).apply(
    np.floor
).astype(float) * 0.10

dataset["Winner"] = dataset.apply(
    lambda x: "EloFav" if x["Winner"] == x["Elo_Fav"] else "EloDog", axis=1
)
dataset["Elo_Fav"] = dataset.apply(
    lambda x: x["Elo_Winner"] if x["Winner"] == x["Elo_Fav"] else x["Elo_Loser"],
    axis=1,
)
dataset["Elo_Dog"] = dataset.apply(
    lambda x: x["Elo_Loser"] if x["Winner"] == x["Elo_Fav"] else x["Elo_Winner"],
    axis=1,
)
dataset["Odds_Difference"] = abs(dataset["Elo_Fav_Odds"] - dataset["Elo_Dog_Odds"])
dataset["Elo_Difference"] = abs(dataset["Elo_Fav"] - dataset["Elo_Dog"])
dataset = dataset[["Winner", "Odds_Difference", "Elo_Difference"]]
my_list = ["EloFav", "EloDog"]
dataset["Player_1"] = np.random.choice(my_list, len(dataset))
dataset["Player_2"] = dataset.apply(
    lambda x: "EloDog" if x["Player_1"] == "EloFav" else "EloFav", axis=1
)
dataset

      Winner  Odds_Difference  Elo_Difference Player_1 Player_2
0     EloFav              4.9      219.384513   EloFav   EloDog
1     EloFav              0.5       19.615513   EloFav   EloDog
2     EloFav              0.6        4.644329   EloDog   EloFav
3     EloFav              1.4       61.152912   EloDog   EloFav
4     EloFav              0.9       84.277003   EloDog   EloFav
...      ...              ...             ...      ...      ...
4777  EloFav              0.9      101.893940   EloFav   EloDog
4778  EloFav              1.7       71.077411   EloFav   EloDog
4779  EloFav              3.3      239.265549   EloFav   EloDog
4780  EloDog              1.6      137.476103   EloDog   EloFav
4781  EloDog              1.6      115.945229   EloDog   EloFav

[4782 rows x 5 columns]